body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	background: #747474;
	color: white;
	text-align: center;
	align-content: center;
}

h1 {
	font-size: 4em;
	text-transform: uppercase;
	margin: 0;
	color: #07adbc;
	text-align: center;
	padding-top: 2px;
	text-shadow: 1px 1px 2px grey;
}

p {
	font-size: 1em;
	font-weight: 700;
}

#header {
	height: 80px;
	margin: 0;
	background: #000000;
}

#container {
	max-widtb: 400px;
}

#selfie {
	border-radius: 15px;
	margin-top: 20px;
	padding: 0px;
	/*border: 2px solid black;*/
	border: 2px solid black;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 300px;
}