body {
	margin: 0;
	font-family: 'Comic Sans MS', sans-serif;
	background: #747474;
	color: white;
	text-align: center;
	align-content: center;
}

h1 {
	font-size: 4em;
	text-transform: uppercase;
	margin: 0;
	color: darkgoldenrod;
	text-align: center;
	padding-top: 1px;
	text-shadow: 1px 1px 2px grey;
}

p {
	font-size: 1em;
	font-weight: 700;
}

#header {
	height: 80px;
	margin: 0;
	background: #000000;
	border-bottom: 2px solid white;
}

.container {
	max-width: 400px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#fleur {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 5%;
}


#selfie {
	border-radius: 15px;
	margin-top: 25px;
	padding: 0px;
	border: 2px solid darkgoldenrod;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;

}

#about {
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 15px;
	max-width: 60%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	margin-bottom: 30px;
	background: silver;
	border: 2px solid darkgoldenrod;
	color: black;
}
